{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


            <title>{% block title %}Strona główna{% endblock %}</title>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Mój portal</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a  href="">Strona domowa</a></li>
                        <li><a href="{{ path('login') }}">Zaloguj</a></li>
                        <li><a href="{{ path('logout') }}">Wyloguj</a></li>
                        <li><a href="{{ path('registration') }}">Załóż konto</a></li>

                        <form class="navbar-form navbar-right" action="{{ path('addProduct') }}">        
                            <button type="submit" class="btn btn-success">Dodaj przedmiot</button>   
                        </form>  

                    </ul>
                </div><!--/.nav-collapse -->
        </nav>


        <div class="alert alert-info">   
            <div id="" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="">Elektronika</a></li>
                    <li><a href="">Moda damska</a></li> 
                    <li><a href="">Moda męska</a></li>
                    <li><a href="">Dom i ogród</a></li>
                    <li><a href="">Sport</a></li> 
                    <li><a href="">Motoryzacja</a></li> 

                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" placeholder="Znajdź przedmiot" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Szukaj</button>
                    </form>                
                </ul>
            </div>           
        </div>


       <div class='upper-strip'>
            <h2>Lista ogłoszeń</h2>
        </div>

        

        <table class="table">
            <thead>
                <tr>
                 
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>  
                      
                        <td>{{ product.description|e }}</td>
                        <td><img src="{{ asset('uploads/pictures/' ~ product.picture) }}" ></td>
                        <td>{{ product.category|e }}</td>
                        <td>dodano: {{ product.dueDate|date('Y-m-d') }}</td>
                    </tr>
                </tbody>   
            {% endfor %}


        </table>
        
        



    {% endblock %}









